@use 'config.scss' as *;

.hero {
	text-align: center;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 4.8rem;
	flex-direction: column;

	@include bp(md) {
		text-align: left;
		flex-direction: row;
	}
}

.hero_img {
	border-radius: 0.6rem;
	margin: 0 auto;
}

.hero_info {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 0.8rem;
}

.hero_hello {
	display: inline-block;
}

.hero_name {
	font-size: 4.8rem;
	font-weight: 600;
	margin-bottom: 0;
}

.hero_btns {
	margin-top: 1.2rem;

	a {
		border-radius: 0.6rem;
		background-color: color(dark-blue);
		color: #ffffff;
		text-decoration: none;
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		padding: 1rem 3.2rem;
		display: block;
		margin-bottom: 1rem;

		&.btn__alt {
			background-color: color(button-gray);

			&:hover {
				background-color: color(button-gray-hover);
			}
		}

		@include bp(md) {
			display: inline-block;
			margin-right: 1rem;
			margin-bottom: 0;
		}

		&:hover {
			color: #ffffff;
			background-color: color(mid-blue);
		}
	}
}
