@use 'config.scss' as *;

.grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2.4rem;
	align-items: flex-start;

	@include bp(md) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.socials {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.2rem;

	a {
		display: flex;
		gap: 1.2rem;
		align-items: center;
	}

	@include bp(md) {
		align-items: flex-start;
	}
}

.contact_form {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
}

.form_field {
	label {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		gap: 0.8rem;
	}

	input,
	textarea {
		border: 1px solid #bdbdbd;
		border-radius: 0.6rem;
		padding: 0.8rem 1.2rem;
		box-shadow: 0 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.2);
	}
}

.submit {
	display: flex;
	justify-content: flex-end;
}

.error_msg {
	color: #f00;
	font-size: 1.5rem;
}

.spinner {
	width: 2.0rem;
	height: 2.0rem;
	color: #ffffff;
	margin: 0 auto;
	animation: spin 1000ms linear infinite;
}

.spinner_circle {
	opacity: 0.25;
}

.spinner_path {
	opacity: 0.75;
}

@keyframes spin {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(360deg);
	}
}

.error {
	outline: 2px solid  rgb(255, 0, 0, 0.75);
}