@use 'sass:map';

$colors: (
	dark-blue: rgb(30, 58, 138),
	mid-blue: rgb(37, 99, 235),
	black-blue: #002d52,
	button-gray: rgb(102, 102, 102),
	button-gray-hover: rgb(141, 141, 141),
);

@function color($key) {
	@return map.get($colors, $key);
}