@use 'config.scss' as *;
@use 'base.scss';

/*
1px  = 0.0625
2px  = 0.125
3px  = 0.1875
4px  = 0.25
5px  = 0.3125
6px  = 0.375
7px  = 0.4375
8px  = 0.5
9px  = 0.5625
10px = 0.625
11px = 0.6875
12px = 0.75
13px = 0.8125
14px = 0.875
15px = 0.9375
16px = 1.0
*/

:root {
	font-size: 10px;
}

html, body {
	font-size: 1.8rem;
	line-height: 1.5;
	color: #002442;
	background-color: #f0f9ff;
}

html, body, #__next {
	/* @apply text-gray-800 bg-[#f0f9ff]; */
}

h1, h2, h3, h4, h5, h6 {
	font-family: font('serif');
	font-weight: 600;
	text-align: center;
	margin-bottom: 2.4rem;

	@include bp(md) {
		text-align: left;
	}
}

h1 {
	font-size: 4.8rem;
}

h2 {
	font-size: 3.6rem;
}

h3 {
	font-size: 2.8rem;
}

h4 {
	font-size: 2.4rem;
}

h5 {
	font-size: 2.1rem;
}

h6 {
	font-size: 1.8rem;
}

p {
	text-align: center;

	@include bp(md) {
		text-align: left;
	}
}

main a {
	text-decoration: underline;
	color: color(dark-blue);

	&:hover {
		color: color(mid-blue);
	}
}

main p.paragraph {
	margin-bottom: 2.8rem;
}

.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 1.0rem;
	padding-left: 1.0rem;
}
@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}
@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
}
/* @media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
} */
/* @media (min-width: 1536px) {
	.container {
		max-width: 1536px;
	}
} */

.section {
	padding-top: 6.4rem;
	padding-bottom: 6.4rem;
}

.section--alt {
	background-color: #e2f3ff;
}

.section__title {
	margin-bottom: 6.4rem;
}

.btn {
	border-radius: 0.6rem;
	background-color: color(dark-blue);
	color: #ffffff;
	text-decoration: none;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	padding: 1rem 3.2rem;
	display: block;

	&:hover {
		color: #ffffff;
		background-color: color(mid-blue);
	}

	&.btn--alt {
		background-color: color(button-gray);

		&:hover {
			background-color: color(button-gray-hover);
		}
	}

	@include bp(md) {
		display: inline-block;
	}
}

.empty-message {
	text-align: center;
	font-style: italic;
	margin-bottom: 4.8rem;
}


















/*

	.blockquote {
		@apply text-theme-blue-300 bg-theme-white dark:bg-theme-blue-50 shadow-md rounded py-5 px-5 text-left mb-5 mx-auto w-fit relative overflow-hidden;
	}

	.blockquote::before,
	.blockquote::after {
		display: block;
		color: #1d65ac60;
		font-size: 12.8rem;
		position: absolute;
		font-weight: 700;
		opacity: 0.25;
		@apply font-quotes;
	}

	.blockquote::before {
		content: '“';
		top: 6.0rem;
		left: 0.5rem;
		line-height: 0;
	}

	.blockquote::after {
		content: '”';
		bottom: -1.0rem;
		right: 0.5rem;
		line-height: 0;
	}

	.blockquote cite {
		margin-left: 2.8rem;
		@apply block text-right mt-2.5;
	}

	.pre {
		@apply text-theme-black bg-theme-white dark:bg-theme-blue-50 shadow-md rounded p-5 text-left font-code mb-5;
	}

	.pre code {
		background: none;
		box-shadow: none !important;
		border: none;
		padding: 0;
		margin: 0;
	}

	.callout {
		@apply shadow-md rounded p-5 text-left mb-5 flex flex-row;
	}

	.callout.info {
		@apply text-theme-blue-300 bg-theme-blue-100 dark:bg-theme-blue-100 border-theme-blue-300;
	}

	.callout.alert {
		@apply text-theme-red-200 bg-theme-red-100 border-theme-red-200;
	}

	.callout.warning {
		@apply text-theme-yellow-200 bg-theme-yellow-100 border-theme-yellow-200;
	}

	.callout.question {
		@apply text-theme-cyan-200 bg-theme-cyan-100 border-theme-cyan-200;
	}

	.callout.success {
		@apply text-theme-green-200 bg-theme-green-100 border-theme-green-200;
	}

	.callout__icon {
		@apply mr-5;
	}

	.callout__content {

	}

	.callout__title {
		@apply font-bold;
	}

	.callout__body {

	}

	.section > .container > h2:first-child {
		@apply mt-0;
	}

	.mdx-styling h1,
	.mdx-styling h2,
	.mdx-styling h3,
	.mdx-styling h4,
	.mdx-styling h5,
	.mdx-styling h6 {
		@apply
			font-semibold
			mb-5
			mt-12;
	}

	.mdx-styling h1 {
		@apply text-5xl;
	}
	.mdx-styling h2 {
		@apply text-4xl;
	}
	.mdx-styling h3 {
		@apply text-3xl;
	}
	.mdx-styling h4 {
		@apply text-2xl;
	}
	.mdx-styling h5 {
		@apply text-xl;
	}
	.mdx-styling h6 {
		@apply text-lg;
	}
	.mdx-styling p {
		@apply mb-5;
	}
	.mdx-styling ol {
		@apply
			list-decimal
			ml-5
			mb-5;
	}
	.mdx-styling ul {
		@apply
			list-disc
			ml-5
			mb-5;
	}
	.mdx-styling code {
		@apply font-code text-theme-black bg-theme-white dark:bg-theme-blue-50 shadow-md rounded border-theme-blue-300 p-1 mx-1;
	}
	.mdx-styling img,
	.mdx-styling figure img {
		@apply shadow-md rounded mx-1 mx-auto;
	}
	.mdx-styling img,
	.mdx-styling figure {
		@apply mb-5;
	}
	.mdx-styling figure figcaption {
		@apply text-sm text-center;
	}
  */

















// module.exports = {
// 	content: ['./src/**/*.{js,ts,jsx,tsx}'],
// 	theme: {
// 		container: {
// 			padding: '0.625rem',
// 			center: true,
// 		},
// 		extend: {
// 			colors: {
// 				theme: {
// 					blue: {
// 						50: '#dfeaf6',
// 						100: '#D1F5FC',
// 						150: '#94cfff',
// 						175: '#70b8f3',
// 						200: '#4CA2E9',
// 						250: '#2C83CA',
// 						300: '#0D64AC',
// 						350: '#0D47A1',
// 						400: '#094679',
// 					},
// 					red: {
// 						100: '#fbbfbf',
// 						200: '#ab0e0e',
// 					},
// 					yellow: {
// 						100: '#fafabe',
// 						200: '#807908',
// 					},
// 					green: {
// 						100: '#e4fabe',
// 						200: '#618008',
// 					},
// 					cyan: {
// 						100: '#befaf7',
// 						200: '#08807f',
// 					},
// 					white: '#F9FCFF',
// 					black: '#002442',
// 					section: {
// 						light: '#EBF6FF',
// 						dark: '#002d52',
// 					},
// 				},
// 			},
// 			fontFamily: {
// 				sans: ['Work sans', ...defaultTheme.fontFamily.sans],
// 				serif: ['Crete Round', ...defaultTheme.fontFamily.serif],
// 				quotes: ['PT Sans', ...defaultTheme.fontFamily.serif],
// 				code: ['JetBrains Mono', ...defaultTheme.fontFamily.sans],
// 			},
// 			keyframes: {
// 				fadein: {
// 					'0%': { opacity: 0 },
// 					'100%': { opacity: 100 },
// 				},
// 			},
// 			animation: {
// 				fadein: 'fadein 125ms ease-in-out',
// 			},
// 		},
// 	},
// 	plugins: [],
// };
