@use 'colors.scss' as *;
@use 'breakpoints.scss' as *;
/*
1px  = 0.0625
2px  = 0.125
3px  = 0.1875
4px  = 0.25
5px  = 0.3125
6px  = 0.375
7px  = 0.4375
8px  = 0.5
9px  = 0.5625
10px = 0.625
11px = 0.6875
12px = 0.75
13px = 0.8125
14px = 0.875
15px = 0.9375
16px = 1.0
*/

:root {
	font-size: 10px;
}

html, body {
	font-size: 1.8rem;
	line-height: 1.5;
	color: #002442;
	background-color: #f0f9ff;
}

html, body, #__next {
	/* @apply text-gray-800 bg-[#f0f9ff]; */
}

h1, h2, h3, h4, h5, h6 {
	font-family: theme('fontFamily.serif');
	font-weight: 600;
	text-align: center;
	margin-bottom: 2.4rem;

	@include bp(md) {
		text-align: left;
	}
}

h1 {
	font-size: 4.8rem;
}

h2 {
	font-size: 3.6rem;
}

h3 {
	font-size: 2.8rem;
}

h4 {
	font-size: 2.4rem;
}

h5 {
	font-size: 2.1rem;
}

h6 {
	font-size: 1.8rem;
}

main a {
	text-decoration: underline;
	color: color(dark-blue);

	&:hover {
		color: color(mid-blue);
	}
}

.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 1.0rem;
	padding-left: 1.0rem;
}
@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}
@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
}
/* @media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
} */
/* @media (min-width: 1536px) {
	.container {
		max-width: 1536px;
	}
} */

.section {
	padding-top: 4.8rem;
	padding-bottom: 4.8rem;
}

.btn {
	border-radius: 0.6rem;
	background-color: color(dark-blue);
	color: #ffffff;
	text-decoration: none;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	padding: 1rem 3.2rem;
	display: block;

	&:hover {
		color: #ffffff;
		background-color: color(mid-blue);
	}

	&.btn--alt {
		background-color: color(button-gray);

		&:hover {
			background-color: color(button-gray-hover);
		}
	}

	@include bp(md) {
		display: inline-block;
	}
}