@use 'config.scss' as *;
@use 'base.scss';

:root {
	font-size: 10px;
}

html, body {
	font-size: 1.8rem;
	line-height: 1.5;
	color: #002442;
	background-color: #f0f9ff;
}

html, body, #__next {
	min-height: 100vh;
}

#__next {
	display: flex;
	flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
	font-family: font('serif');
	font-weight: 600;
	text-align: center;
	margin-bottom: 2.4rem;

	@include bp(md) {
		text-align: left;
	}
}

h1 {
	font-size: 4.8rem;
}

h2 {
	font-size: 3.6rem;
}

h3 {
	font-size: 2.8rem;
}

h4 {
	font-size: 2.4rem;
}

h5 {
	font-size: 2.1rem;
}

h6 {
	font-size: 1.8rem;
}

p {
	text-align: center;

	@include bp(md) {
		text-align: left;
	}
}

main {
	flex-grow: 1;
}

main a {
	text-decoration: underline;
	color: color(dark-blue);

	&:hover {
		color: color(mid-blue);
	}
}

main p.paragraph {
	margin-bottom: 2.8rem;
}

.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 1.0rem;
	padding-left: 1.0rem;
}
@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}
@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
}
/* @media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
} */
/* @media (min-width: 1536px) {
	.container {
		max-width: 1536px;
	}
} */

.section {
	padding-top: 6.4rem;
	padding-bottom: 6.4rem;
}

.section--alt {
	background-color: #e2f3ff;
}

.section__title {
	margin-bottom: 6.4rem;
}

.btn {
	border-radius: 0.6rem;
	background-color: color(dark-blue);
	color: #ffffff;
	text-decoration: none;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	padding: 1rem 3.2rem;
	display: block;
	width: 100%;

	&:hover {
		color: #ffffff;
		background-color: color(mid-blue);
	}

	&.btn--alt {
		background-color: color(button-gray);

		&:hover {
			background-color: color(button-gray-hover);
		}
	}

	@include bp(md) {
		display: inline-block;
		width: fit-content;
	}
}

.empty-message {
	text-align: center;
	font-style: italic;
	margin-bottom: 4.8rem;
}

.nav_line {
	background-color: color(dark-blue);
	bottom: 0;
	height: 0.3rem;
	left: 0;
	position: absolute;
	width: 8rem;
	transition-property: left, width;
	transition-duration: 250ms;
	transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper {
	max-width: 100%;
	max-height: 400px;
	margin: 4.8rem 0;
}

.swiper-slide {
	overflow: hidden;
	max-height: 400px;

	img {
		margin: 0 auto;
		box-shadow: 0 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.2);
		border-radius: 0.6rem;
	}
}

.swiper-button-prev,
.swiper-button-next {
	display: none !important;

	@include bp(md) {
		display: flex !important;
	}
}

.blockquote {
	background-color: #ffffff;
	padding: 2.0rem;
	margin: 4.8rem auto;
	position: relative;
	overflow: hidden;
	width: fit-content;
	border-radius: 0.6rem;
	box-shadow: 0 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.2);
}

.blockquote::before,
.blockquote::after {
	display: block;
	color: #1d65ac60;
	font-size: 12.8rem;
	position: absolute;
	font-weight: 700;
	opacity: 0.25;
}

.blockquote::before {
	content: '“';
	top: 6.0rem;
	left: 0.5rem;
	line-height: 0;
}

.blockquote::after {
	content: '”';
	bottom: 1.0rem;
	right: 1.5rem;
	line-height: 0;
}

.blockquote cite {
	margin-left: 2.8rem;
	display: block;
	text-align: right;
	margin-top: 1.0rem;
	font-weight: 600;
	font-style: normal;
}

code {
	background-color: #ffffff;
	box-shadow: 0 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.2);
	border-radius: 0.6rem;
	overflow: auto;
	word-wrap: break-word;
	box-decoration-break: clone;
}

.pre {
	background-color: #ffffff;
	box-shadow: 0 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.2);
	border-radius: 0.6rem;
	padding: 2.0rem;
	margin: 4.8rem auto;
	overflow: auto;
}

.pre code {
	background: none !important;
	box-shadow: none !important;
	padding: 0;
	margin: 0;
	overflow: visible;
}

.callout {
	box-shadow: 0 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.2);
	border-radius: 0.6rem;
	padding: 2.0rem;
	margin: 4.8rem 0;
	display: flex;
	gap: 2.0rem;
}

.callout.info {
	background-color: #d1f5fc;
	color: #0d64ac;
	border: 1px solid #0d65ac33;
}

.callout.alert {
	background-color: #fbbfbf;
	color: #ab0e0e;
	border: 1px solid #ab0e0e33;
}

.callout.warning {
	background-color: #fafabe;
	color: #807908;
	border: 1px solid #80790833;
}

.callout.question {
	background-color: #befaf7;
	color: #08807f;
	border: 1px solid #08807f33;
}

.callout.success {
	background-color: #e4fabe;
	color: #618008;
	border: 1px solid #61800833;
}

.callout__title {
	font-weight: 600;
}

.mdx-styling p {
	margin-bottom: 2.4rem;
}

.mdx-styling ol,
.mdx-styling ul {
	list-style: decimal;
	margin: 0 0 2.4rem 2.4rem;
}

.mdx-styling ol,
.mdx-styling ol ol ol ol {
	list-style: decimal;
}

.mdx-styling ol ol,
.mdx-styling ol ol ol ol ol {
	list-style: lower-latin;
}

.mdx-styling ol ol ol,
.mdx-styling ol ol ol ol ol ol {
	list-style: lower-roman;
}

.mdx-styling ul,
.mdx-styling ul ul ul ul {
	list-style: disc;
}

.mdx-styling ul ul,
.mdx-styling ul ul ul ul ul {
	list-style: circle;
}

.mdx-styling ul ul ul,
.mdx-styling ul ul ul ul ul ul {
	list-style: square;
}

.mdx-styling code {
	background-color: #ffffff;
	border-radius: 0.6rem;
	padding: 0.4rem;
	margin: 0.4rem;
}
.mdx-styling img,
.mdx-styling figure img {
	box-shadow: 0 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.2);
	border-radius: 0.6rem;
	margin: 4.8rem auto 0;
}

.mdx-styling img {
	margin: 4.8rem auto;
}

.mdx-styling figure img {
	margin-bottom: 1.2rem;
}

.mdx-styling figure {
	margin-bottom: 4.8rem;

}

.mdx-styling figure figcaption {
	text-align: center;
	font-size: 1.5rem;
}
