@use 'colors.scss' as *;
@use 'breakpoints.scss' as *;

.grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 4.8rem;
	margin-bottom: 4.8rem;

	@include bp(md) {
		grid-template-columns: repeat(2, 1fr);
	}
}
