@use 'config.scss' as *;

.header {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 4.8rem;
	padding-top: 3.2rem;
	position: relative;
}

.logo {
	display: block;
	font-size: 2.8rem;
	font-weight: 700;
}

.nav {
	color: color(dark-blue);
	display: none;
	font-size: 1.8rem;
	font-weight: 600;
	position: relative;

	ul {
		display: flex;
	}

	ul a {
		display: block;
		padding: 1rem 2rem;
	}

	@include bp(lg) {
		display: block;
	}
}

.nav_line {
	background-color: color(dark-blue);
	bottom: 0;
	height: 0.3rem;
	left: 0;
	position: absolute;
	width: 8rem;
}

.socials {
	align-items: center;
	display: none;
	gap: 1.6rem;
	justify-content: center;

	a {
		align-items: center;
		background-color: color(dark-blue);
		border-radius: 9999px;
		color: #ffffff;
		display: flex;
		font-size: 1.6rem;
		height: 4rem;
		justify-content: center;
		transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
		width: 4rem;

		&:hover {
			background-color: color(mid-blue);
		}
	}

	@include bp(lg) {
		display: flex;
	}
}

.mobile_btn {
	align-items: center;
	border-radius: 0.6rem;
	display: flex;
	font-size: 2.8rem;
	height: 4.8rem;
	justify-content: center;
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
	width: 4.8rem;

	&:hover {
		background-color: color(dark-blue);
		color: #ffffff;
	}

	@include bp(lg) {
		display: none;
	}
}

.mobile_menu {
	background-color: color(dark-blue);
	height: 100%;
	inset: 0;
	overflow-y: auto;
	position: fixed;
	z-index: 100;
}

.mobile_menu_btn {
	background-color: color(dark-blue);
	display: flex;
	justify-content: flex-end;
	padding-bottom: 0.6rem;
	padding-top: 3.2rem;
	position: sticky;
	top: 0;

	button {
		@extend .mobile_btn;
		color: #ffffff;

		&:hover {
			background-color: color(mid-blue);
		}
	}
}

.mobile_menu_nav {
	color: #ffffff;
	font-size: 2.4rem;
	font-weight: 700;
	padding-left: 1rem;
	padding-right: 1rem;

	a {
		border-radius: 0.6rem;
		display: block;
		margin-bottom: 0.8rem;
		padding: 1rem 2rem;

		&:hover {
			background-color: color(mid-blue);
		}
	}

	svg {
		margin-right: 1.6rem;
	}
}

.mobile_menu_socials {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-top: 4.8rem;

	a {
		align-items: center;
		display: flex;
		justify-content: center;
		padding-top: 1.6rem;
		padding-bottom: 1.6rem;
	}

	svg {
		margin: 0;
	}
}
